@font-face {
    font-family: "Pixelated MS Sans Serif";
    font-style: normal;
    font-weight: 400;
    src: url(ms_sans_serif.woff) format("woff");
    src: url(ms_sans_serif.woff2) format("woff2")
}

@font-face {
    font-family: "Pixelated MS Sans Serif";
    font-style: normal;
    font-weight: 700;
    src: url(ms_sans_serif_bold.woff) format("woff");
    src: url(ms_sans_serif_bold.woff2) format("woff2")
}

#menu {
    display: block;
    align-items: center;
    background-color: #C0C0C0;
    padding-left: 10px;
    padding-bottom: 10px;
}

#menu li {
    list-style: none;
}

#menu ul {
    padding: 0px;
}

#texto {
    height: 250px;
    width: 100%;
    resize: none;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 50px;
}

body {
    background: #008080 url("background.png") no-repeat;
    background-size: 600px auto;
}

button {
    background: silver;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    color: transparent;
    min-height: 23px;
    min-width: 75px;
    padding: 0 12px;
    text-shadow: 0 0 #222;
}

.title-bar {
    align-items: center;
    background: linear-gradient(90deg, navy, #1084d0);
    display: flex;
    justify-content: space-between;
    padding: 3px 2px 3px 3px;
    font-family: "Pixelated MS Sans Serif", Arial;
    font-size: 11px;
}

.title-bar-text {
    color: #fff;
    font-weight: 700;
    letter-spacing: 0;
    margin-right: 24px;
}

.window-body {
    margin: 8px;
}

.window {
    position: absolute;
    background: silver;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
    padding: 3px;
    width: 800px;
    top: 100px;
    margin-left: 25%;
}

#taskbar {
    display: flex;
    position: absolute;
    background: silver;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    bottom: 0px;
}